@media (min-width: 576px)
{
    /* CSS для экранов размером: 576px – 767px */
    .dropdown
    {
        left: 134ex;
    }
}

@media (min-width: 768px)
{
    /* CSS для: 768px – 991px */
    .dropdown
    {
        left: 206ex;
    }
}

@media (min-width: 992px)
{
    /* CSS для: 992px – 1119px */
    .dropdown
    {
        left: 134ex;
    }
}

@media (min-width: 1200px)
{
    /* CSS для экранов больше 1200px */
    .dropdown
    {
        left: 206ex;
    }
}