@media screen and (width: 360px)
{
    .dropdown
    {
        left: 275px;
        top: -220px;
    }
}
@media screen and (width: 375px)
{
    .dropdown
    {
        left: 275px;
        top: -220px;
    }
}
@media screen and (width: 412px)
{
    .dropdown
    {
        left: 326px;
        top: -200px;
    }
}
@media screen and (width: 1280px)
{
    .dropdown
    {
        left: 132ex;
    }
}
@media screen and (width: 1920px) 
{
    .dropdown
    {
        left: 205ex;
    }
}
@media screen and (width: 1660px)
{
    .dropdown
    {
        left: 176ex;
    }
}
@media screen and (width: 2560px)
{
    .dropdown
    {
        left: 305ex;
    }
}