body
{
    background-color: rgb(20, 20, 20);
}
.welcome-text
{
    text-align: center;
    font-size: 32px;
    font-family: "Tahoma";
    color: white;

    position: relative;
    top: 164px;
}
.about-me-title-text
{
    text-align: center;
    font-size: 24px;
    font-family: "Tahoma";
    color: white;

    position: relative;
    top: 128px;
}
.about-me-subtitle-text
{
    text-align: center;
    font-size: 16px;
    font-family: "Tahoma";
    color: white;

    position: relative;
    top: 128px;
}
.all-rigts-reserved-place000
{
    text-align: center;
    font-size: 16px;
    font-family: "Tahoma";
    color: white;

    position: relative;
    top: 128ex;
    padding-bottom: 8px;
}
.dropdown
{
    display: inline-block;
    font-family: "Tahoma";
    position: relative;
    top: -188px;
    left: 203ex;
}
.dropdown-button
{
    background-color:unset;
    color:white;
    padding: 16px;
    font-size:18px;
    padding: 0;
    border: 0;
}
.dropdown-content
{
    display: none;
    position: relative;
    background-color: unset;
    min-width: 100px;
    max-width: 6px;
    left: -22px;
    z-index: 1;
}
.dropdown-content a
{
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-button:hover {    color: #dfba40;}
.dropdown:hover .dropdown-content {display: block;}
.button-projects
{
    font-size: 16px;
    font-family: "Tahoma";
    color: white;
}
.button-projects:hover
{
    color: #dfba40;
}
.button-github
{
    font-size: 16px;
    font-family: "Tahoma";
    color: white;
}
.button-github:hover
{
    color: #dfba40;
}
.button-instagram
{
    font-size: 16px;
    font-family: "Tahoma";
    color: white;
}
.button-instagram:hover
{
    color: #dfba40;
}
.button-support
{
    font-size: 16px;
    font-family: "Tahoma";
    color: white;
}
.button-support:hover
{
    color: #dfba40;
}
.button-back
{
    color: white;
    font-size: 16px;
    font-family: "Tahoma";
    text-decoration:unset;
    position: relative;
    top: 20px;
    left: 20px;
}
.button-back:hover
{
    color: #dfba40;
}
.projects-title-text
{
    text-align: center;
    font-size: 32px;
    font-family: "Tahoma";
    color: white;

    position: relative;
    top: 164px;
}
.projects-subtitle-text
{
    text-align: center;
    font-size: 16px;
    font-family: "Tahoma";
    color: white;

    position: relative;
    top: 128px;
}
.button-google-play-store
{
    color: white;
    font-size: 16px;
    font-family: "Tahoma";
    position: relative;
    padding-bottom: 16px;
    top: 173px;
    left: 100ex;
}
.button-google-play-store:hover
{
    color: #dfba40;
}
.button-google-play-store a
{
    text-decoration:unset;
}
.button-github-repositories-server-tcp-and-client-tcp
{
    color: white;
    font-size: 16px;
    font-family: "Tahoma";
    text-decoration:unset;
    position: relative;
    padding-bottom: 16px;
    top: 16ex;
    left: 70ex;
}
.button-github-repositories-server-tcp-and-client-tcp:hover
{
    color: #dfba40;
}
.button-github-repositories-server-tcp-and-client-tcp a
{
    text-decoration:unset;
}
.button-github-repositories-password-manager
{
    color: white;
    font-size: 16px;
    font-family: "Tahoma";
    text-decoration:unset;
    position: relative;
    padding-bottom: 6px;
    top: 16ex;
    left: 70ex;
}
.button-github-repositories-password-manager:hover
{
    color: #dfba40;
}
.button-github-repositories-password-manager a
{
    text-decoration:unset;
}